@model IEnumerable<TopChart.Models.Tracks>

@{
    ViewData["Title"] = "AdminAudio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:800px; background-color:white">
    <header>
        <div id="header">
            <nav id="nav">
                <a style="border: 0px; box-shadow:none" asp-area="" asp-controller="HomeAudio" asp-action="AdminAudio"><img src="/Logo/TopChartLogo.jpg" /></a>
                <a asp-area="" asp-controller="HomeVideo" asp-action="AdminVideo" style="margin-top:25px">Watch</a>
                <div style="margin-right: 5px">
                    <div>
                        <label style="text-align:center; width: 100px; color:yellow">Hello @Context.Session.GetString("Login")</label>
                    </div>
                    <div>
                        <a asp-area="" asp-controller="HomeAudio" asp-action="Logout" style="display: inline-block; width: 100px;">Log Out</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <hr style="margin: 0" />
    <main id="main">
    @if (Model.Count() > 0)
    {
        <div id="divUser">
            <div id="divUserList">
                    <div id="divSearch">
                        <form style="display:flex" asp-action="Search" method="post">
                            <input type="text" name="search" id="search"/>
                            <input type="submit" value="" id="searchButton" asp-area="" asp-controller="HomeAudio" asp-action="Search"></input>
                        </form>
                    </div>
                    <div style="display:flex; flex-direction:column; justify-content:center;align-items:center">
                        @{
                            string s = string.Empty;
                            string g = string.Empty;
                        }
                        <div style="display:flex">
                            <a style="color:red" id="a2" asp-area="" asp-controller="HomeAudio" asp-action="Top">Top Chart</a>
                        </div>
                        <div>
                        @foreach (var m in Model)
                        {
                            @foreach (var i in ViewBag.Singer)
                            {
                                if (i.Id == m.SingerId)
                                {
                                    s = i.Name;
                                }
                            }
                            @foreach (var i in ViewBag.Genre)
                            {
                                if (i.Id == m.GenreId)
                                {
                                    g = i.Name;
                                }
                            }
                            @if (Context.Session.GetInt32("Status") > 0)
                            {
                                <label>@m.Name - @s</label>
                                <div style="display:flex; justify-content:center;align-items:center">
                                    <audio controls>
                                        <source src="@m.Path" />
                                    </audio>
                                    <a id="aLike" asp-controller="HomeAudio" asp-action="Like" asp-route-id="@m.Id"><img style="margin-left: 5px" src="/Logo/like.png" /></a><label>@m.Like</label> | <a id="a3" style="width: 40px" asp-controller="HomeAudio" asp-action="Details" asp-route-id="@m.Id">Details</a>
                                </div>
                                <div id="runningWrapper">
                                    <label id="runningLabel">Track: @m.Name, Singer: @s, Album: @m.Album, Genre: @g, Added on: @m.Date, Size: @m.Size</label>
                                </div>
                                <div><hr style="margin-top: 0; width:390px; border-color: #0a2980" /></div>
                            }
                            else
                            {
                                <label>@m.Name - @s</label>
                                <div style="display:flex; justify-content:center;align-items:center">
                                    <audio controls>
                                        <source src="@m.Path" />
                                    </audio>
                                    <a id="a3" style="width: 40px" asp-controller="HomeAudio" asp-action="Details" asp-route-id="@m.Id">Details</a>
                                </div>
                                <div id="runningWrapper" style="width: 335px">
                                    <label id="runningLabel">Track: @m.Name, Singer: @s, Album: @m.Album, Genre: @g, Added on: @m.Date, Size: @m.Size</label>
                                </div>
                                <div><hr style="margin-top: 0; width:335px; border-color: #0a2980" /></div>
                            }
                        }
                        </div>
                    </div>
            </div>
            <div id="divMenuList">
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="EditUser">UsersList</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="Create">New track</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="CreateSinger">New singer</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="CreateGenre">New genre</a>
            </div>
        </div>
    }
    else
    {
        <div id="divUser">
            <div style="text-align: center">
                <p>It`s nothing to play. Add some music!</p>
                <img style="width: 600px; height: 500px" src="~/Logo/Vinil.png" />
            </div>
            <div id="divMenuList">
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="EditUser">UsersList</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="Create">New track</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="CreateSinger">New singer</a>
                <a id="a2" asp-area="" asp-controller="HomeAudio" asp-action="CreateGenre">New genre</a>
            </div>
        </div>
    }
    </main>
    <hr style="position:fixed; bottom: 0; left: 0; right: 0" />
    <footer style="height: 30px">
        <div style="text-align:center; font-size: 8pt">2024 Topchart</div>
    </footer>
</div>